# /proc/1/fd/1 2>/proc/1/fd/2 pipes the output to Docker logs

# Everyday at 12a-3a, 6a-9a, and 9a-12p
0 0 * * * root /usr/local/bin/python /app/record.py --start 0 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2
0 6 * * * root /usr/local/bin/python /app/record.py --start 6 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2
0 9 * * * root /usr/local/bin/python /app/record.py --start 9 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2

# Weekdays
0 12 * * MON-FRI root /usr/local/bin/python /app/record.py --start 12 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2
0 15 * * MON-FRI root /usr/local/bin/python /app/record.py --start 15 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2
0 18 * * MON-FRI root /usr/local/bin/python /app/record.py --start 18 --duration 7200 > /proc/1/fd/1 2>/proc/1/fd/2
0 20 * * MON-FRI root /usr/local/bin/python /app/record.py --start 20 --duration 7200 > /proc/1/fd/1 2>/proc/1/fd/2
0 22 * * MON-FRI root /usr/local/bin/python /app/record.py --start 22 --duration 7200 > /proc/1/fd/1 2>/proc/1/fd/2

# Weekends
0 12 * * SAT,SUN root /usr/local/bin/python /app/record.py --start 12 --duration 7200 > /proc/1/fd/1 2>/proc/1/fd/2
0 14 * * SAT,SUN root /usr/local/bin/python /app/record.py --start 14 --duration 7200 > /proc/1/fd/1 2>/proc/1/fd/2
0 16 * * SAT,SUN root /usr/local/bin/python /app/record.py --start 16 --duration 7200 > /proc/1/fd/1 2>/proc/1/fd/2
0 18 * * SAT,SUN root /usr/local/bin/python /app/record.py --start 18 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2
0 21 * * SAT,SUN root /usr/local/bin/python /app/record.py --start 21 --duration 10800 > /proc/1/fd/1 2>/proc/1/fd/2
